.models {
    position: relative;

    &:after {
        position: absolute;
        content: '';
        height: 0.5px;
        background-color: #fff;
        opacity: .4;
        width: 100%;
        top: 150px;
        left: 0;
        z-index: -1;
    }
    &__in {
        padding: 120px 0 40px;
    }

    &__head {
        margin-bottom: 90px;
    }

    &__body {
        // position: relative;
        // &:after {
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     z-index: 10;
        //     width: 10%;
        //     height: 100%;
        //     background: linear-gradient(270deg, #020202 0%, rgba(2, 2, 2, 0) 100%);
        //     content: '';
        // }

        &_slider {
            width: 80%;
            overflow: visible;
            margin: 0 auto 0 0;

            &_wr {
                
            }

            &_sl {
                
            }
        }
    }
}

@media (max-width: 1150px) {

    .models {

        &:after {
            display: none;
        }

        &__head {

            &_title {
                width: 100%;
                text-align: center;
            }

            &_nav {
                display: none;
            }
        }

        &__body {

            &_slider {
                width: 100%;
                &_wr {
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                &_sl {
                    width: 48%;
                    margin-right: 0 !important;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;

                    .card__head {
                        order: 2;
                        justify-content: center;
                        &_btn {
                            display: none;
                        }

                        &_name {
                            text-align: center;
                        }
                    }

                    .card__body {
                        order: 1;
                        padding-bottom: 0;
                        &_slider {
                            
                            .pagination {
                                display: none;
                            }
                        }

                        &_item {
                            display: none;

                            &:first-child {
                                display: block;
                            }
                        }
                    }

                    .card__action {
                        display: none;
                    }
                }
            }
        }
    }
}